<head th:fragment="header(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}"></title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{css/materialize.min.css}" href="../../resources/static/css/materialize.min.css"/>
    <!--Import materialize.js-->
    <link type="text/javascript" rel="stylesheet" th:href="@{js/materialize.min.js}" href="../../resources/static/js/materialize.min.js"/>
    <!--Import vue-cookie.js-->
    <link type="text/javascript" th:href="@{node_modules/vue-cookie/build/vue-cookie.js}" href="/node_modules/vue-cookie/build/vue-cookie.js"/>

    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://vuejs.org/js/vue.js"></script>
</head>


<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--<title>Login</title>-->
<!--&lt;!&ndash;Import materialize.css&ndash;&gt;-->
<!--<link type="text/css" rel="stylesheet" th:href="@{css/materialize.min.css}" href="../../resources/static/css/materialize.min.css"/>-->
<!--&lt;!&ndash;Import materialize.js&ndash;&gt;-->
<!--<link type="text/javascript" rel="stylesheet" th:href="@{js/materialize.min.js}" href="../../resources/static/js/materialize.min.js"/>-->
<!--&lt;!&ndash;Import vue-cookie.js&ndash;&gt;-->
<!--<link type="text/javascript" th:href="@{node_modules/vue-cookie/build/vue-cookie.js}" href="/node_modules/vue-cookie/build/vue-cookie.js"/>-->

<!--<script src="http://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--<script src="http://vuejs.org/js/vue.js"></script>-->

<!--</head>-->